<body>
    <div class="page-container">
        <nav class="navbar top-nav">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Amigos</span>
                <a href="login" class="btn btn-outline-secondary btn-sm">Cerrar Sesion</a>
            </div>
        </nav>

        <div class="main-layout">
          <main class="content-area">
            <div class="container-fluid">
              <div *ngIf="amigos.length === 0" class="no-amigos-container text-center">
                <i class="bi bi-person-x-fill no-amigos-icon"></i> <p class="no-amigos-message">Parece que aún no tienes amigos aquí. ¡Empieza a conectar!</p>
              </div>

              <ul class="amigos-list row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3" *ngIf="amigos.length > 0">
                <li *ngFor="let amigo of amigos" class="col">
                  <div class="friend-card">
                    <div class="avatar-container">
                      <img
                        src="https://cdn-icons-png.flaticon.com/512/847/847969.png"
                        alt="Avatar de amigo"
                      />
                    </div>
                    <span class="friend-username">{{ '@' + amigo.friend_username }}</span>
                    <p class="friend-name">Amigo: {{ amigo.friend_username }}</p>
                    <button
                      (click)="eliminarAmigo(amigo.friend_id)"
                      class="btn btn-danger delete-friend-btn"
                    >
                      Eliminar
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </main>
          <app-sidebar></app-sidebar>
        </div>
    </div>
</body>