.sidebar {
  width: 280px;
  flex-shrink: 0;
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  padding: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-menu li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #495057;
  font-size: 1.1rem;
  font-weight: 500;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  margin-bottom: 12px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}

.sidebar-menu li:not(.active) a:hover {
  background-color: #e9ecef;
  border-color: #ced4da;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.sidebar-menu li.active a {
  background-color: #e6a7c1;
  border-color: #e6a7c1;
  color: #fff;
  box-shadow: 0 4px 12px rgba(230, 167, 193, 0.4);
}

.sidebar-menu li.active a i {
  color: #fff;
}

.sidebar-menu .home-button-li {
  margin-top: auto;
}

.sidebar-menu i {
  margin-right: 15px;
  font-size: 1.3rem;
  color: #6c757d;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.content-area {
  flex-grow: 1;
  background-color: #fdecf2;
  padding: 40px;
  overflow-y: auto;
}

/* Esto fuerza que el sidebar quede a la derecha y ocupe 100% de alto */
app-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 280px;
}
