<body>
    <div class="container-fluid">
        <div class="row main-container">
            <div class="col-md-6 left-column d-flex justify-content-center align-items-center">
                <div class="image-stack">
                    <div class="polaroid" style="transform: rotate(-15deg);">
                        <img src="https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Paisaje de playa">
                    </div>
                    <div class="polaroid" style="transform: rotate(8deg);">
                         <img src="https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Paisaje de playa">
                    </div>
                    <div class="polaroid top-polaroid" style="transform: rotate(-2deg);">
                        <img src="https://images.pexels.com/photos/1078983/pexels-photo-1078983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Paisaje de playa principal">
                    </div>
                </div>
            </div>

            <div class="col-md-6 right-column d-flex justify-content-center align-items-center">
                <div class="login-form">
                    <h2>Iniciar Sesion</h2>
                        <form (ngSubmit)="login()">
                        <div class="mb-4">
                            <label for="username" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
                        </div>
                        <div class="button">
                            <button type="submit" class="btn btn-pink">Iniciar Sesión</button>
                        </div>
                        </form>

                    <p class="mt-4 text-center">
                        No tienes cuenta? <a href="registrarse">Registrarse</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
